.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  margin-bottom: 50px;
}

.image_wrapper {
  margin: 0px 30px;
}

.image_wrapper img {
  width: 80%;
}
.subcard{
  height: 0%;
  min-width: 100%;
  overflow: hidden;
  transition: all ease-in-out 0.1s ;
 
}
.mainleadercard:hover .subcard{
  height: 70%;
 
}


.shadowBorder {
   /* Ensures the pseudo-element is displayed */
  position: absolute; /* Allows precise positioning relative to the parent */
  bottom:  -20px;
  left: 40px;
  height: 60%;
  width: 90%;
  background-color: transparent;
  border: 1.3px yellow dashed;
  z-index: 0;
}
.hideScrollBar::-webkit-scrollbar {
  display: none;
}
.MuiDataGrid-footerContainer{
  display: flex !important;
}
.MuiDataGrid-scrollbar{
  display: none;
}.MuiDataGrid-columnHeaders{
  font-weight: bolder !important;
  font-size: 14;
  background-color: #282c34;

}
.switch:hover  div{
 display: flex;
}
.action:hover span{
  display: flex;
}
.switch:hover  a{
  animation: spin 1s linear infinite; 
 }
 .MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
 }
 .MuiChartsLegend-root {
  display: none !important;
  width: 0;
  
}
.css-1evyvmv-MuiChartsSurface-root {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.pie .css-1evyvmv-MuiChartsSurface-rootg:first-child{
  position: absolute !important;
  left: 100% !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}